*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    /* background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color:black;
    color:white;
    background-size: cover;
}




